
@main("Hakkımda") {

    @header("/images/about-bg.jpg","Hakkımda","Ben kimim?")

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="media">
                        <span class="media-left">
                            <div class="img-circular1"></div>
                        </span>
                    <div class="media-body" style="padding-top: 20px">
                        <h4 style="font-style: italic;margin-left: 5px;">Alper ÖZASLAN</h4>
                        <p style="margin-left: 5px;"><a href="http://zkteco.eu/" style="font-style: italic">ZKTeco EU</a> şirketinde Java/Scala Developer</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

                <h3>Merhaba ben Alper Özaslan,</h3>

                <p>
                    27 Eylül 1991 yılında Gaziantep'te doğdum.Babamın mesleğinden dolayı eğitim hayatıma birçok ilde devam ettim.
                    İlkokula Köyceğiz Atatürk İlköğretim okulunda başladım.Tokat'a taşınmamızla birlikte Vakıfbank Namık Kemal İlköğretim okulunda
                    ilkokul eğitimimi tamamladım.Ortaokul eğitimime Merzifon Gazi İlköğretim okulunda başladım.Ancak babamın emekli olması ve Köyceğiz'e
                    tekrar taşınmamızdan dolayı ortaokul eğitimimi,ilkokula başladığım Köyceğiz Atatürk İlköğretim okulunda tamamladım.Lise eğitimimi
                    ise Köyceğiz Anadolu Lisesinde tamamladım.Okul birinciliği kontenjanından faydalanarak,Yıldız Teknik Üniversitesi Bilgisayar Mühendisliği
                    bölümünü kazandım.Üniversiteden de bölüm üçüncüsü olarak mezun oldum.
                </p>

                <p>
                    Üniversite öğrenimim boyunca yurtdışına çıkmak ile ilgili elime geçen her fırsatı değerlendirdim.İlk olarak <a href="http://www.ua.gov.tr/programlar/erasmus-program%C4%B1/erasmus-program%C4%B1">Erasmus</a>
                        öğrenci değişim programı ile İsveç Linköpings Üniversitesinde yarım dönem eğitim aldım.Erasmus programına 3. sınıfın 2. döneminde katıldım.Son sınıfa
                    geçtiğimde ise <a href="http://www.iaeste.org.tr/">IAESTE</a> ile yurtdışında staj yapma imkanı elde ettim.Yurtdışı stajımı ise halen çalışmakta olduğum ZKTeco EU.
                    şirketinde 6 ay süre ile yaptım.Staj sonunda şirket ile anlaştığımız için halen bu şirkette çalışmaktayım.
                </p>

                <p>
                    Scala programlama dilini ilk defa,3. sınıfın yaz döneminde OBSS şirketinde staj yaparken katıldığım Java kursu hocam sayın <a href="http://people.sabanciuniv.edu/ahmetdemirelli/">Ahmet DEMİRELLİ</a>'den
                        duymuştum.Ders arasında sohbet ederken gelecek vaad eden programlama dilleri hakkında konuşuyorduk.Ahmet hocamızda bize Scala diye bir programlama dilinden bahsetti.
                    Scala programlama dili hem nesne tabanlı hem de fonksiyonel tabanlıydı.Bu sebepten dolayı oldukça ilgimi çekmişti.Son sınıfta birgün araştırma yaparken
                    Scala programla dilinin online kursunun Coursera sitesinden verildiği bilgisine ulaştım.Hemde kurs programlama dilini bulan <a href="http://lampwww.epfl.ch/~odersky/">Martin ODERSKY</a>
                        tarafından veriliyordu.Kursa kayıt olmama rağmen bitirme projemiz dolayısıyla kursu tamamlayamadım.Daha sonra yurtdışı stajımda bu kursa kayıt olacağımı iş arkadaşıma söyledim ve birlikte bu kursu tamamladık.
                </p>

                <p>
                    Kurs bittikten sonra android uygulaması için RESTful web servisi yazmamız gerekiyordu.Toplantı sonucunda <a href="http://www.denizirgin.com/post/2012/05/28/REST-RESTful-Web-Service.aspx">RESTful</a> web servisinin Scala Play Framework ile
                    yazılması kararı alınmıştı.O projeye başlamamız ile birlikte Scala konusunda özellikle de Play Framework hakkındaki tecrübelerim oldukça artmıştı.
                    Daha sonra birgün düşünürken Türkiye'de Scalanın çok yeni bir dil olması sebebiyle bir blog yazma kararı aldım.Hem Scala hem de Play Framework hakkında
                    edindiğim tecrübeleri paylaşma imkanı bulacaktım.Böylece açık kaynak kodlu olacak şekilde blog projemi başlattım.Bu bloğun kaynak kodlarına <a href="https://github.com/kairos34/ScalaBlog">Scala Blog</a>
                    adresinden ulaşabilirsiniz.Eğer istediğiniz takdirde kendi bloğunuzu yaratabilirsiniz <i class="fa fa-smile-o"></i>

                </p>

                <p>
                    Scala veya Play Framework ile ilgili sorularınızı hiç çekinmeden ister iletişim kısmından mesaj atarak ister sosyal medyadan yazarak sorabilirsiniz.
                    Sosyal medya hesaplarıma aşağıdaki linklerden ulaşabilirsiniz.Özgeçmişime ise <a href="/alperCV">buraya</a> tıklayarak ulaşabilirsiniz.
                </p>

            </div>
        </div>
    </div>


}
