@(form:Form[Post],user:User)(implicit flash: Flash)

@adminTemplate("Gönderi Ekle",user){
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-yellow">
                <div class="panel-heading">
                    Gönderi Ekleme Sayfası
                </div>
                <div class="well">
                    <h3>Merhaba @user.fullname,</h3>
                    <p>Yeni bir post yaratmak için aşağıdaki alanları doldurup yarat butonuna tıklaman gerekli.</p>
                </div>
                @helper.form(routes.Application.addPost()) {
                    <br>
                    <fieldset>@postFormElements(form)</fieldset>
                    <br>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group col-xs-12">
                                <button type="submit" class="btn btn-warning btn-lg">Yarat</button>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

    <script src="//tinymce.cachefly.net/4.3/tinymce.min.js"></script>
    <script>tinymce.init({
    selector: 'textarea',
    height: 500,
    theme: 'modern',
    plugins: [
    'advlist autolink lists link image charmap print preview hr anchor pagebreak',
    'searchreplace wordcount visualblocks visualchars code fullscreen',
    'insertdatetime media nonbreaking save table contextmenu directionality',
    'emoticons template paste textcolor colorpicker textpattern imagetools'
    ],
    toolbar1: 'insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
    toolbar2: 'print preview media | forecolor backcolor emoticons',
    image_advtab: true,
    content_css: [
    '//fast.fonts.net/cssapi/e6dc9b99-64fe-4292-ad98-6974f93cd2a2.css',
    '//www.tinymce.com/css/codepen.min.css'
    ]
    });</script>
}