@(form:Form[Post],user:User)(implicit flash: Flash)

@adminTemplate("Gönderi Düzenle",user){
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-green">
                <div class="panel-heading">
                Gönderi Düzenleme Sayfası
                </div>
                <div class="well">
                    <h3>Merhaba @user.fullname,</h3>
                    <p>@Users.findById(form.data("UserId").toLong).get.fullname tarafından @Posts.convertDate(form.data("Date").toLong) tarihinde yazılan gönderi
                    içeriğini aşağıdaki formu düzenleyip kaydederek değiştirebilirsin.</p>
                    <p>Eğer gönderiyi silmek istiyorsan hemen aşağıda bulunan sil butonuna basarak bunu gerçekleştirebilirsin.</p>
                    <div class="row">
                        @helper.form(routes.Application.deletePost(form.data("Id").toLong)){
                            <div class="form-group col-xs-12">
                                <button type="submit" class="btn btn-danger btn-lg">Sil</button>
                            </div>
                        }
                    </div>
                </div>
            @** Update post routing **@
        @helper.form(routes.Application.editPost()) {
            @flash.get("success").map { message =>
                <div class="alert alert-dismissable alert-success">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    @message
                </div>
            }
            <br>
            <fieldset>@postFormElements(form)</fieldset>
            <br>
            <div class="row">
                <div class="col-lg-12">
                     <div class="form-group col-xs-12">
                         <button type="submit" class="btn btn-success btn-lg">Kaydet</button>
                    </div>
                </div>
            </div>
        }
        </div>
    </div>
    </div>

    <script src="//tinymce.cachefly.net/4.1/tinymce.min.js"></script>
    <script>tinymce.init({selector:'textarea', plugins: [
    "advlist autolink lists link image charmap print preview anchor",
    "searchreplace visualblocks code fullscreen",
    "insertdatetime media table contextmenu paste"
    ]
    });</script>
}