@(messageForm: Form[MessageForm])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }

@inputText(messageForm("Name"), '_label -> "İsim", 'placeholder ->"Adınız ve Soyadınız..." , 'class -> "form-control")
@inputText(messageForm("Email"), '_label -> "Email", 'placeholder ->"Email Adresiniz..." , 'class -> "form-control")
@inputText(messageForm("Phone"), '_label -> "Telefon", 'placeholder ->"Telefon Numaranız..." , 'class -> "form-control")
@textarea(messageForm("Message"), '_label -> "Mesaj", 'class -> "form-control", 'placeholder ->"Mesajınız..." , 'rows -> 5, 'cols -> 60, 'style -> "resize:none")