@(form: Form[Option[User]] )(implicit flash: Flash)

@main("Giriş"){

    @header("/images/admin.jpg","Admin Paneli","")

    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <p>Postları yönetmek için oturum açmalısın!</p>
                @flash.get("success").map { message =>
                    <div class="alert alert-dismissable alert-success">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        @message
                    </div>
                }
                @flash.get("error").map { message =>
                    <div class="alert alert-dismissable alert-danger">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        @message
                    </div>
                }
                @helper.form(routes.Application.authenticate()) {
                    @if(form.hasGlobalErrors) {
                        <div class="alert alert-dismissable alert-danger">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            @form.globalError.get.messages
                        </div>
                    }
                    <fieldset>@loginFormElements(form)</fieldset>
                    <br>
                    <div class="row">
                        <div class="form-group col-xs-12">
                            <button type="submit" class="btn btn-default">Giriş</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
}