@(post:Post)

@**************************************************
* Generate post preview from post *
**************************************************@
<div class="post-preview">
    <a href="@routes.Application.blog(post.id)">
        <h2 class="post-title">
        @post.title
        </h2>

        <h3 class="post-subtitle">
            @post.subTitle
        </h3>

    </a>
    <p class="post-meta"><i class="fa fa-clock-o"></i> @Users.findById(post.userId).get.fullname tarafından @Posts.convertDate(post.date) tarihinde yazıldı</p>
</div>
<hr>